@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}

@keyframes gradient-angle {
  0% {
    --gradient-angle: 0turn;
  }
  100% {
    --gradient-angle: 1turn;
  }
}

.animate-gradient {
  animation: gradient-angle 2s infinite linear;
}
